<div class="right aligned menu inverted">
    <a class="item " href="{% url "da_login:profile" %}">
        <i class="ui user icon"></i>
        {% include "da_login/parts/username.html" %}
{#        {% include "da_login/parts/avatar.html" with width='25' height='25' %}#}
    </a>
    <div class="item">
        <a href="{% url "da_login:logout" %}" class="ui "><i class="ui sign out icon"></i></a>
    </div>
</div>