{% extends "land/admin_base.html" %}

{% block controller %} ng-controller="profileCtrl"{% endblock %}

{% block content %}

    {% if user.is_authenticated %}


        <h3 class="ui header">Лэндинги</h3>


        <div class="ui page grid">
            <div class="column">

                <div class="ui orange segment landingpages ">


                    <div class="ui divided items">

                        <div class="item">
                            <a class="ui small image">
                                <img>
                            </a>

                            <div class="content">
                                <div class="ui circular green tiny icon button" ng-click="add_landingpage();">
                                    <i class="icon plus"></i>
                                </div>
                            </div>
                        </div>

                        <div class="item" ng-repeat="landingpage in global.landingpages">
                            {% verbatim %}

                            <a class="ui small image">
                                <img ng-src="{{ landingpage.main_img }}">
                            </a>

                            <div class="content">
                                <a class="header">{{ landingpage.title }}</a>

                                <div class="description">
                                    {{ landingpage.body }}
                                </div>
                            </div>
                            {% endverbatim %}

                            {% include "land/helpers/page_actions.html" %}

                        </div>
                    </div>


                </div>
            </div>
        </div>




        <div class="ui vertical center aligned basic segment">

            {% include "da_login/parts/add_sandbox_button.html" %}

        </div>
    {% endif %}


{% endblock %}