{% extends "land/admin_base.html" %}

{% block content %}
    <div class="ui grid">

        <div class="column">

            <div class="ui basic segment">
                <div class="ui vertical center aligned simple  segment">


                    {% if current_user.id %}
                    {% else %}
                        {% include "land/form_base.html" with form=login_form name_form="login_form" submit_text="Войти" action="/login" %}

                        <div class="block social_auth_block">
                            <div class="block_title">Войти через:</div>
                            <a href="{% url 'socialauth_begin' 'facebook' %}" class="socials-facebook">Взойти через ФБ</a>
                            <a href="{% url 'socialauth_begin' 'google-oauth2' %}" class="socials-gplus">Взойти через Гугл</a>
                            <a href="{% url 'socialauth_begin' 'twitter' %}" class="socials-twitter">Взойти через Твитер</a>
                            <a href="{% url 'socialauth_begin' 'vk-oauth' %}" class="socials-vk">Взойти через Вконтактик</a>
                            {#            <a href="{% url 'socialauth_begin' 'mailru-oauth' %}" class="socials-mailru">Взойти через Маилру(Яндекс, Рамблер)</a>#}
                            {#            <a href="{% url 'socialauth_begin' 'livejournal' %}" class="socials-facebook">Взойти через Ливжорнал</a>#}
                        </div>
                    {% endif %}

                </div>
                <div class="ui vertical center aligned simple  segment">
                    {% include "da_login/parts/add_sandbox_button.html" %}
                </div>

            </div>
        </div>
    </div>


{% endblock %}