{% extends "land/admin_base.html" %}

{% block controller %} ng-controller="profileCtrl"{% endblock %}

{% block content %}

    {% if request.user.is_authenticated %}


        <div class="ui center aligned container">
            {% include "da_login/parts/avatar.html" with image_class="small" %}
            <h2 class="ui header">
                {% include "da_login/parts/username.html" %}
            </h2>
        <div class="ui divider"></div>
        </div>

    {% endif %}


{% endblock %}