{% extends "land/admin_base.html" %}

{% block controller %} ng-controller="profileCtrl"{% endblock %}

{% block content %}

    <div class="ui  center aligned container">

        <h1 class="ui header">Регистрация</h1>

        <div class="ui two column centered page grid">
            <div class="center aligned column">
                <div class="ui orange segment">
                    {% include "land/form_base.html" with form=register_form name_form="register_form" submit_text="Зарегестрироваться" action='da_login:registration' %}
                </div>

{#                <a href="{% url "da_login:login" %}">Войти</a>#}

                <div class="ui basic segment">
                    <h3 class="ui header">Войти через социальные сети</h3>
                    <button class="ui circular facebook icon button">
                        <i class="facebook icon"></i>
                    </button>
                    <button class="ui circular twitter icon button">
                        <i class="twitter icon"></i>
                    </button>
                    <button class="ui circular linkedin icon button">
                        <i class="linkedin icon"></i>
                    </button>
                    <button class="ui circular google plus icon button">
                        <i class="google plus icon"></i>
                    </button>
                </div>

                {#                        <div class="block social_auth_block">#}
                {#                            <div class="block_title">Войти через:</div>#}
                {#                            <a href="{% url 'socialauth_begin' 'facebook' %}" class="socials-facebook">Взойти через ФБ</a>#}
                {#                            <a href="{% url 'socialauth_begin' 'google-oauth2' %}" class="socials-gplus">Взойти через Гугл</a>#}
                {#                            <a href="{% url 'socialauth_begin' 'twitter' %}" class="socials-twitter">Взойти через Твитер</a>#}
                {#                            <a href="{% url 'socialauth_begin' 'vk-oauth' %}" class="socials-vk">Взойти через Вконтактик</a>#}
                {#                        </div>#}

            </div>
            {#                <div class="column"></div>#}
        </div>

    </div>



{% endblock %}