<div class="ui login_modal no_rounded small orange modal">

    <h1 class="ui header">Вход</h1>

    <div class="content">
        {% include "land/form_base.html" with form=login_form name_form="login_form" submit_text="Войти" action="da_login:login" %}
    </div>

</div>



